body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5E5D8;
    background-image: radial-gradient(circle at 20% 30%, rgba(239, 213, 180, 0.8) 50px, transparent 50%), 
                      radial-gradient(circle at 80% 20%, rgba(239, 213, 180, 0.8) 70px, transparent 60%), 
                      radial-gradient(circle at 50% 70%, rgba(239, 213, 180, 0.8) 100px, transparent 70%), 
                      radial-gradient(circle at 10% 80%, rgba(239, 213, 180, 0.8) 90px, transparent 50%), 
                      radial-gradient(circle at 90% 50%, rgba(239, 213, 180, 0.8) 40px, transparent 40%);
    background-size: cover;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #D9BCA5;
    box-shadow: 0 4px 2px -2px gray;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #4D2C15;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-links li a.active {
    background-color: #7E4A32;
    color: white;
    border-radius: 5px;
}

.nav-icons a {
    margin-left: 15px;
    color: #4D2C15;
    font-size: 20px;
}

.nav-icons a:hover {
    color: #7E4A32;
}


.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #F5E5D8;
}

.hero-text {
    max-width: 40%;
}

.hero-text h1 {
    color: #4D2C15;
    font-size: 3em;
    margin: 0;
}

.hero-text p {
    color: #4D2C15;
    font-size: 1.2em;
}

.hero-text .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4D2C15;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
}

.hero-images img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}
